<br />

<div class="booyah-box col-lg-8 offset-lg-2 col-10 offset-1">
  <h1>Careers</h1>

  <p>
    This is example test about open positions at the company. Generally, there will be some text here describing what the working environment is like and what type of candidates the company is looking for.
  </p>

  <p>
    The job positions below are examples and are not actual open job positions.
  </p>

  <h3><%= link_to 'Web Developer', url: '#'%></h3>
  <h5>Full-time - Orlando, FL</h5>

  <br />

  <h3><%= link_to 'Project Manager', url: '#'%></h3>
  <h5>Full-time - Remote</h5>

  <br />

  <h3><%= link_to 'Sales Support Specialist', url: '#'%></h3>
  <h5>Full-time - Orlando, FL</h5>

  <br />

  <h3><%= link_to 'Customer Service Representative', url: '#'%></h3>
  <h5>Part-time - Orlando, FL</h5>

  <br />
</div>
