<br />

<div class="booyah-box col-10 offset-1">
  <h1>Careers</h1>

  <p>
    We’re looking for highly talented and self-motivated sound designers to join our close-knit team to create loops, samples and synth presets for future products across our various in-house labels.

    The role involves creating cutting-edge sounds to exacting briefs, liaising with our project manager regularly throughout the process.

    Successful candidates will have:

    An excellent music production skills (synthesis, sound design, drum programming) and be proficient with a variety of popular synths and samplers including Native Instruments’ Massive and FM8, Lennar Digital’s Sylenth1, samplers such as Kontakt, EXS24, NN-XT and HALion.
    An in-depth and up-to-the-minute knowledge of a wide range of electronic dance music genres and the ability to reflect this in the sounds they create.
    The ability to work to strict deadlines.
    Their own studio to work from.
    Enthusiasm and passion for sound design across multiple genres.
    Friendly and professional manner.
    Skills that are desirable, but not essential include:

    Strong understanding of musical theory.
    Familiarity with audio formatting/conversion for Apple Loops, Rex Recycle, Stylus RMX and Reason ReFill.
    Successful candidates would be employed on a commission basis, accounting quarterly, with advances paid for each project. Royalties are paid quarterly and our top sound designers earn a very competitive income.

    The role would suit recent sound design /music technology graduates, emerging or established music producers and those with a passion and flair for sample creation.

    Please contact us with a short covering letter detailing your skills, experience and the genres that interest you as a sound designer. If we like what we hear we will ask you to supply 30MB of royalty-free Wav loops and samples to display your skills.

    We look forward to hearing from you!
  </p>
</div>
