<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn Music from the Pros</h1>
    <br />
    <h2>Subtitle Goes Here</h2>
    <br />
    <%= link_to 'Browse Courses', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Watch &amp; Learn</h3>
    <br />
    <p>One-on-one video lessons, because the best way to learn is by observing.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join Our Community</h3>
    <br />
    <p>Lorem ipsum who cares, this is just placeholder test. It doesn't mean anything.</p>
  </div>
</div>
