<div class="hero">
  <br />

  <div class="frosty col-10 offset-1 text-center">
    <br />

    <h1>Learn Music from the Pros</h1>

    <br />

    <h4>Music Training Lessons by Video</h4>

    <br />

    <%= link_to 'Browse Courses', courses_path, class: 'btn btn-success' %>

    <br /><br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm feature-box">
    <h3>Watch &amp; Learn</h3>

    <br />

    <p>
      One-on-one video lessons, because the best way to learn is by observing. Observational learning has been studied by academics and teachers and has been found to be highly effective for certain things. It is a form of social learning and has typically been passed down via relatives, friends, or teachers. Only recently has the digital age has allowed us to expand this method to video.
    </p>
  </div>

  <div class="col-12 col-sm feature-box">
    <h3>Learn At Your Own Pace</h3>

    <br />

    <p>
      Enroll and access a course's archive of lessons. We hear a lot about the need for students to learn at their own pace. That instead of sitting in rows of desks with a teacher delivering the same information to everyone, students should be able to develop skills and explore knowledge whenever and wherever is best for them. The same applies when an individual is trying to learn a new skill on their own.
    </p>
  </div>

  <div class="col-12 col-sm feature-box">
    <h3>Join Our Community</h3>

    <br />

    <p>
      Chat with other students, make friends, and share your progress! A learning community is a group of people who share common academic goals and attitudes, who meet semi-regularly to collaborate on classwork. Such communities have become the template for a cohort-based, interdisciplinary approach to higher education.
    </p>
  </div>
</div>
