<br />

<div class="booyah-box col-lg-8 offset-lg-2 col-10 offset-1">
  <h1>Team</h1>

  <p>
    This is example text for information about the company or team. Generally, this page would include a description of the company, their history, their mission and values, any certifications or credentials that may be relevant, and may also list some or all of the team members, possibly including contact information.
  </p>
</div>
